<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<%= link_to 'Add new project', new_project_path, method: :get, class: 'btn btn-info button-align' %>
<br/>
<br/>
<% projects.each do |project| %>
 	<div class = "container">
		<fieldset class="border p-2">
		<legend class="w-auto text-primary"><%= "#{project.name} Todos " %></legend>
			<% if(project.todos.count > 0) %>
			<table class="table table-hover">
				<thead>
					<tr>
						<td>Todo Name </td>
						<td>Todo Assigned To</td>
						<td>Todo Status</td>
						<td>Edit Todo</td>
						<td>Delete Todo</td>
					</tr>
				</thead>
				<tbody>
					<% project.todos.each do |todo| %>
						<tr>
							<td><%= todo.task_name  %></td>
							<td><%= todo.developer.nil? ? "-Not-Assigned-" : todo.developer.name %></td>
							<td><%= todo.status.humanize %></td>
							<td><%= link_to 'Edit', edit_project_todo_path(project, todo), method: :get , class: 'btn btn-primary btn-sm' %></td>
							<td><%= link_to 'Delete', project_todo_path(project, todo), method: :delete, class: 'btn btn-danger btn-sm' %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<% else %>
				<h6 style="float: center; margin-top: 20px; margin-bottom: 20px;"> -- Nothing to show --</h5>
			<% end %>
		<div data-chart= {} style="margin-top: 40px; float: center" id= '<%= project.name %>_chart_div' class="my_chart">
		</div>
		<div class = "row">
			<div class="col-md-4">
				<%= link_to('Add new Todo', new_project_todo_path(project), method: :get) %>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-md-4">
				<%= link_to('Add new Developer', edit_project_path(project), method: :get) %>			
			</div>
		</div>
		</fieldset>
	</div>
</br>
<% end %>
<%= javascript_tag do %>
$(document).ready(function(){
		<% projects.each do |project|%>
			var data = <%= project.get_todo_details_for_map.collect{|element| element}.to_json.html_safe %>
			reporting_tool.generate_pie_report(data, '<%= project.name %>_chart_div')
		<% end %>
});
<% end %>
