<% projects.each do |project| %>
 	<fieldset style="margin-top: 20px">
		<legend><%= "#{project.name} Todos " %></legend>
		<% if(project.todos.count > 0) %>
		<TABLE style="width: 100%">
			<THEAD></THEAD>
				<TR>
					<TD>Todo Name </TD>
					<TD>Todo Assigned To</TD>
					<TD>Todo Status</TD>
					<TD>Edit Todo</TD>
					<TD>Delete Todo</TD>
				</TR>
			</THEAD>
			<TBODY>
				<% project.todos.each do |todo| %>
					<TR>
						<TD><%= todo.task_name  %></TD>
						<TD><p style="font-size: 10"><%= todo.developer.nil? ? "-Not-Assigned-" : todo.developer.name %><p></TD>
						<TD><%= todo.status %></TD>
						<TD><%= link_to('Edit', edit_project_todo_path(project, todo), method: :get) %></TD>
						<TD><%= link_to('Delete', project_todo_path(project, todo), method: :delete) %></TD>
					</TR>
				<% end %>
			</TBODY>
		</TABLE>
		<% else %>
			<h4 style="float: center; margin-top: 20px; margin-bottom: 20px; font-style: normal;"> No tasks for this project</h4>
		<% end %>
		<%= link_to('Add new Todo', new_project_todo_path(project), method: :get) %>
		<br/>
		<br/>
		<%= link_to('Add new Developer', edit_project_path(project), method: :get) %>
	</fieldset>
</br>
<% end %>
<p>i am in manager </p>
